body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(7, 3, 34);
    padding: 24px;
    margin: 30px;
    border: 10px;
    font-style: italic;
    color: white;
 }
 div{
    text-align: center;
    margin: 10px;
    border-color: 10px solid black;
    padding: 10px;
    border-radius: 5px;
    font-style: normal;
    font-size: 100%;
    
 }
 h1{
    background-color: brown;
    margin: 10px;
    border: 10px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
 }
 p{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    border: 5px solid rgb(242, 246, 248);
    border-radius: 5px;
 }
 h2{
    background-color: brown;
    margin: 10px;
    border: 10px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
 }
.box{
    background-color: navy;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 10px solid yellow;
    border-radius: 5px;
    width: 500px;
    height: 70px;
}
h3{
    color: black;
    margin: 20px;
    padding: 30px;
    font-size: 200%;
    font-style: italic;
    align-items: center;
}
img{
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 5px;

}
